@page "/getintouch"

<div class="text-center border rounded my-5">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa-solid fa-phone text-primary my-3"></i>
        <p>0555 151 35 75</p> 

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>info@info.com</p>
    </div>
</div>
